<p id="notice"><%= notice %></p>

<h1>Musicmarks</h1>

  <%= render 'form', musicmark: @musicmark %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Band</th>
      <th>Album</th>
      <th>Category</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musicmarks.each do |musicmark| %>
      <%= render 'musicmark', musicmark: musicmark %>   
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Musicmark', new_musicmark_path %>
